html {
  background-color: #1E1E1E;
}

body {
  padding: 0px;
  margin: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: white;
}

a {
  color: #00B7FF;
}

.menu {
  width: 25%;
  display: inline-flex;
}

.map-container {
  height: 80vh;
  display: inline-block;
} 

#viewDiv {
  padding: 0;
  margin: 0;
  height: 90%;
  width: 100%;
}

.toggle {
  color: #f8f8ff;
}